{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
<h1>Управляй и властвуй</h1>
<a href="http://192.168.1.201">Ядро сети</a>
<h2>Второй этаж</h2>
<div><a href="http://192.168.2.201">Cisco SF500-48</a></div>
<div><a href="http://192.168.2.202">Cisco SG500-52</a></div>
<div><a href="http://192.168.2.203">Cisco SG500-52</a></div>
<div><a href="http://192.168.2.204">Cisco SG500-52</a></div>
<h2>Третий этаж</h2>
<div><a href="http://192.168.3.201">Cisco SG500-52</a></div>
<div><a href="http://192.168.3.202">Cisco SG500-52</a></div>
<div><a href="http://192.168.3.203">Cisco SG500-48</a></div>
<h2>Четвертый этаж</h2>
<div><a href="http://192.168.4.253">Cisco SGE2010</a></div>
<div><a href="http://192.168.4.252">Cisco SFE2010</a></div>
{% endblock %}